{% extends 'layout.html' %}
{% load static %}

{% block title %}Работник{% endblock %}

{% block content %}
    <h1>{{ product.product_name }}<img src="/{{ product.product_photo }}" alt="{{ product.product_name }}" /></h1>
    <hr>
    <h4>Профессия: {{ product.product_category }}</h4><br>
    <h4>Город: {{ product.product_city }}</h4><br>
    <h4>Резюме: {{ product.product_des }}</h4><br>
    <h4>Начальная зарплата: {{ product.product_price }} сум</h4><br>
    <h4>{{ context }}</h4><br>


{% endblock %}
{% block tools %}{% endblock %}
{% block search %}{% endblock %}

