{% extends 'layout.html' %}
{% load static %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <h1>Персонал, доступный для найма</h1>
    <hr>
    {% if products %}
        {% for el in products %}
            <div class="alert alert-warning">
                <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Резюме</a>
                / Имя работника: {{ el.product_name }} / Профессия: {{ el.product_category}} / Начальная зарплата: {{ el.product_price}} сум /
            </div>
        {% endfor %}
    {% else %}
        У вас нет записей!
    {% endif %}
{% endblock %}

{% block tools %}{% endblock %}

{% block search %}
        <hr>
        <h5>Ввести имя работника</h5>
        <form action="search" method="POST">
            {% csrf_token %}
            <input class="find" type="text" name="search_product"><br>
            <br>
            <button class="search"><i class="fa-solid fa-magnifying-glass"></i> Поиск</button>
        </form>
        <hr>
{% endblock %}